img, embed, object,video{
    max-width: 100%;
}
body {
    margin: 10% auto;
    padding: 1.5em;
    width: 80%;
    background-color: #003366;
    background: -webkit-linear-gradient(left,#003366 5%,#19538c 10%,#19538c 90%,#003366 95%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #003366 5%,#19538c 10%,#19538c 90%,#003366 95%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #003366 5%,#19538c 10%,#19538c 90%,#003366 95%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, #003366 5%,#19538c 10%,#19538c 90%,#003366 95%);
    color: #e5ebf2;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 5%;
    
}
a {
    text-decoration: underline;
    color: #FFFFFF;
    min-height: 48px;
    min-width: 48px;
}
a:hover {
    text-decoration: none;
}
h1 {    
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #FFFFFF;
}
.documentation{
     font-size: 1.5em;
}
.documentation dl{
    border: 3px double #5e86ae;
    padding: 0.5em;
}
.documentation dt{
    float: left;
    clear: left;
    text-align: left;
    font-weight: bold;
    color: #FFFFFF;
}
.documentation:after dt{
    content: ":";
}
.documentation dd{
    color: #e5ebf2;
}
footer {
    border-top: 1px solid #e5ebf2;
    font-size: .8em;
}

ul.posts { 
    margin: 10px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
