<!DOCTYPE html>
	<html>
		<head>
			<meta name = "viewport" content = "width=device-width, initial-scale=1">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css5" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
		        	<li><a href="/projects">Projects</a></li>
	        		<li><a href="/CV/ResumeMar1.pdf">My CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:Yiliang_123@hotmail.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
